
            body {
                overflow: hidden;
                height:100vh;
                width: 100vw;
                background:linear-gradient(lightblue 70%, hsl(30 40% 40%) 0%);
                display:flex;
                justify-content:center;
                align-items:center;
                flex-direction:column;
            }
            .center.outer {
                        
                bottom: 5%;
                border-radius:10%;
                display:inherit;
                align-items:center;
                justify-content:center;
                position:relative;
                background:linear-gradient(-156deg, grey, hsl(0 0% 15%) 20%);
                width:30vw;
                height:50vw;
            }
            .center.inner {
                border-radius:40%;
                width:50%;
                height:15vw;
                background:linear-gradient(-153.6deg ,red, darkred 35%);
            }
            .inner:hover {
                transition:border 0.06s ease-in-out;
                cursor:pointer;
            }
            .inner:active {
                box-sizing:border-box;
                border:0.6vw solid hsl(0 80% 10%);
            }
            /*blue the background and skew the shadow*/
            .shadow {
                bottom:0;
                filter:blur(5px);
                z-index:-1;
                width:inherit;
                position:absolute;
                background:grey;

                height:5vw;
                transform:skew(80deg) translateX(-50%);
                /*height:5vw;
                transform:skew(60deg) translateX(-30%);*/
            }
            img {
                height:100%;
                width:100%;
                display:none;
            }
            @media only screen and (max-width: 100px) {
                html {
                    background-color: green;
                    z-index: 10000000;
                }
              }
